@use "../../healpers" as *;
@use "../locations/_locations.scss";

/* Styles for section online-registration.( home page. block containing cervices map )*/
.online-registration {
  --section-margin-y: #{rem(80)};

  &__subtitle {
    max-width: rem(778);
  }

  &__buttons {
    @include flex-center;

    column-gap: rem(30);
  }
}
/*  ===================================  */
/*  ==END section online-registration==  */
/*  ===================================  */
